@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
  --primary-color: #082e3e;
  --secondary-color: #e9c675;
  --text-light: #cbd5e1;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(../Images/pexels-anikó-liptai-19478151.jpg);
    object-fit: cover;
    background-size: cover;
}
.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.navbar{
    
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    /* background:linear-gradient(); */
    padding: 20px 0px;
    
    
}
.Logo{
    width: 200px;
    cursor: pointer;
    margin-left: 80px;
    background-size: contain;
}
nav{
    flex: 1;
    text-align: center;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 25px;
    margin-right: 20px;
  

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropbtn {
    color: #000000;
    background-color: rgb(250, 250, 250);
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.home{
    
    
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.home a{
    color: #000000;
}

.dropdown-list {
    display: none;
    background-color: #333;
    z-index: 1;
    box-shadow: rgb(226, 222, 222);
    position: absolute;
}
.dropdown-list a {
    color: #fff;
    display: block;
    padding: 13px 17px;
    text-decoration: none;

}
.dropdown:hover .dropdown-list {
    display: block;
}
@media screen and (max-width: 778px){
    .Logo{
        width: 100px;
        cursor: pointer;
        margin-left: 30px;
    }
    .navbar{
    
        height: 110px;
        background:linear-gradient(to left, #3e3e3e,#b9b9b9);

    }

    .checkbtn{
        display: block;
        position: fixed; 
        margin-left: 65%;
        font-size: 40px;
        top: 20px;
        color: #000;
        z-index: 10;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        background:linear-gradient(to left, #3e3e3e,#b9b9b9);

        text-align: center;
        transition: all .5s;
        z-index: 10;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    a:hover,a.active{
        background: none;
        color: #15e242;
    }
    #check:checked ~ ul{
        left: 0;
        
    }


}


button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #19d619;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    margin-left: 5%;
    margin-top: -10px;
    margin-right: 20%;
    
    
}

.col{
    
    position: relative;
    background-color: white;
    opacity: 0.9;
    box-shadow: 0 0 20px rgb(2, 2, 2);
    padding: 5px;
    border-radius: 10px;
    margin-right: 5%;


    /* background: #138213; */
}
.col h1 {
   
    color: #0a0a0a;
    font-size: 50px;
    font-weight: 600;
    margin-left: 1px;
    
    /* text-shadow: 0 0 5px #999; */

}
.col p {
    color: #0c0c0c;
    font-size: 20px;
    line-height: 25px;
    margin-left: 10px;
}


@media screen and (max-width: 778px) {
    .row{
        flex-direction: column;
        margin-right: 10%;
    }
    .col1{
        margin-right: 30%;
    }
  
}
.card{
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    margin-left: 20%;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.card p{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 20px #ffffff;
    font-size: 23px;

}
.card1{
    background-image: url(../Images/Yala-Body-2.jpg);
}
.card2{
    background-image: url(../Images/wilpattu.jpg);
}




.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0 0 5px #999;
    text-align: center;
    
}
main{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.23)), url(../Images/pexels-anikó-liptai-19478151.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    /* padding-left: 8%; */
    /* padding-right: 8%; */
    box-sizing: border-box;
    
}


 /* about department part  */
.conservation{
    
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 18px;
    position: relative;
    margin: 20px;
    
}
.container1{
    display: flex;
    justify-content: space-around;
}
                /* main heading */
                .heading1{ 
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    margin: 20px auto;
                    
                }
                .heading1 h1{
                    font-size: 60px;
                    font-weight: 500;
                    text-shadow: 0 0 5px #999;
                    color: #000;
                    margin-bottom: 25px;
                    position: relative;
                    margin-top:-4%;
                }
                .heading1 h1::after{
                    content:"";
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    display: block;
                    margin: 0 auto;
                    background-color: #4caf50;
                
                }

           

.column {
    flex: 1;
    padding: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin: 15px;
    border-radius: 10px;

}
.column p{
   
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
    margin-bottom: 10px;
    font-size: 25px;
}
.container1 h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    margin-top: 20px;
    text-align: center;
 }
 .conservation .slider1 img{
    width: 80%;
    height: 550px;
    margin-left: 60px;
    margin-top: 10%;
 }
 .conservation .slider1:hover img{
    transform: scale(1.2);
 }
 .conservation .read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #085b29;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 14px;
    margin-left: 30px;
    margin-right: auto;
    transition: 0.3s ease;
    

}
.conservation .read-more:hover{
    background-color: #43e248;


}
 
@media screen and (max-width: 1100px) {
    .container1{
        flex-direction: column;
    }
    .conservation .slider1 img {
        align-items: center;
        height: 320px;
        width: 98%;
        margin-bottom: 15px;
        margin: 10px;
        
    }
    .container1 h2{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
     }
     .heading1 h1{
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        text-shadow: 0 0 5px #999;

        color: #000;
        margin-bottom: 20px;
        position: relative;
        margin-top:10px;
    }
 
}
/* vedio setion  */
.introduction1{
    
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(114, 113, 113);
    border-radius: 18px;
    position: relative;
    margin: 20px;
    
}
.heading4 h1{
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    text-shadow: 0 0 5px #999;
    -ms-flex-align: start;
    margin-left: 35px;
    
    color: #000;
    margin-bottom: 20px;
    position: relative;
    margin-top:10px;
    margin-left: 18vh;
    }
    
       .heading4 h1::after{
        content:"";
        position: absolute;
        width: 90%;
        height: 4px;
        display: block;
        margin: 0 auto;
        background-color: #4caf50;
       
       }
       .container3{
        display: flex;
        justify-content: space-around;
    }
    
    .container3 h2{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    }
    .column4 {
        flex: 1;
        padding: 10px;
        }
        .column4 p{
        
            font-family: "Poppins", sans-serif;
            margin: 5%;
        margin-bottom: 10px;
        font-size: 25px;
        }
        .introduction1 .slider1 iframe {
        width: 100%;
        height: 500px;
        margin-left: 8px;
        border: 1px solid #ddd;
        border-radius: 8px;
        margin-top: 40px;
        margin-bottom: 20px;
        }
        .introduction1 .read-more{
            display: inline-block;
            padding: 10px 20px;
            color: #000000;
            font-size: 19px;
            text-decoration: none;
            border-radius: 25px;
            margin-top: 15px;
            transition: 0.3s ease;
            margin-left: 47%;
            
        
        }
        .introduction1 .read-more:hover{
            background-color: #3e8e41;
        
        
        }
        @media screen and (max-width: 1100px) {
        .container3{
        flex-direction: column;
        }
        .introduction1 .slider1 iframe {
        align-items: center;
        height: 320px;
        width: 98%;
        margin-bottom: 15px;
        margin: 10px;
        
        }
        .container3 h2{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
        }
        .heading4 h1{
            font-family: "Poppins", sans-serif;
            font-size: 40px;
        text-shadow: 0 0 5px #999;
        -ms-flex-align: start;
        margin-left: 35px;
        
        color: #000;
        margin-bottom: 40px;
        position: relative;
        margin-top:10px;
        }
        .heading4 h1::after{
            content:"";
            position: absolute;
            width: 90%;
            height: 4px;
            display: block;
            margin: 0 auto;
            background-color: #4caf50;
           
           }
        
        }
        
 /* vedio end  */
 /* gallary part */

 .container-galary{
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 18px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}
.container-galary .heading-g{
  width: 50%;
  padding-bottom: 50px;
}
.container-galary .heading-g h3{
    font-size: 3em;
    font-weight: 600;
    border-bottom: 3px solid #0be63a;
    padding-bottom: 10px;
}
.container-galary .heading-g h3 span{
    font-weight: 100;
}
.container-galary .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    margin-left: ;
}
.container-galary .box .dream{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 8%;
    
}
.container-galary .box .dream img{
    width: 70%;
    padding-bottom: 15px;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 5px;
}
a{
    text-decoration: none;
}



/* hoverpart */

.container-galary .box .dream img:nth-child(1):hover {
    transform: scale(1.1);
}

.container-galary .box .dream img:nth-child(2):hover {
    transform: scale(1.1);
}

.container-galary .box .dream img:nth-child(3):hover {
    transform: scale(1.1);
}


.container-galary .read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #085b29;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 14px;
    margin-top: 3%;
    margin-left: 50%;
    margin-right: auto;
    transition: 0.3s ease;
    

}
.container-galary .read-more:hover{
    background-color: #43e248;


}
@media screen and (max-width: 1100px) {
    .container-galary .box .dream{
        display: flex;
        flex-direction: column;
        width: 98%;
        margin-left: 13%;       
    }
    .container-galary .box .dream img{
      
        width: 98%;
        margin-left: -14%;       
    }
}
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* location part  */

.location{
    
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(114, 113, 113);
    border-radius: 18px;
    position: relative;
    margin: 20px;
    
}
.container2{
    display: flex;
    justify-content: space-around;
}
                /* main heading */
                .heading2{ 
                    width: 90%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    margin: 20px auto;
                    
                }
                .heading2 h1{
                    font-family: "Poppins", sans-serif;
                    font-size: 60px;
                    text-shadow: 0 0 5px #999;

                    color: #000;
                    margin-bottom: 25px;
                    position: relative;
                    margin-top:5%;
                }
                .heading2 h1::after{
                    content:"";
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    display: block;
                    margin: 0 auto;
                    background-color: #4caf50;
                
                }

           

.column1 {
    flex: 1;
    padding: 10px;
}
.column1 p{
   
    margin: 5%;
    margin-bottom: 10px;
    font-size: 25px;
}
.column1 ul{
        font-size: 25px;
        display: block;
        list-style-type: disc;
        margin-block-end: 0em;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
        padding-inline-start: 40px;
      }

.column1 ul li{
    margin-top: 20px;
}
.container2 h2{
    font-size: 35px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    margin-top: 90px;
    text-align: center;
 }
 .location .map iframe {
    width: 80%;
    height: 500px;
    margin-left: 80px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgb(0, 0, 0);

}
@media screen and (max-width: 1100px) {
    .container2{
        flex-direction: column;
    }
    .location .map iframe {
        align-items: center;
        height: 320px;
        width: 98%;
        margin-bottom: 15px;
        margin: 10px;
        
    }
    .container2 h2{
        font-size: 30px;
        color: #000;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
     }
     .heading2 h1{
        font-size: 45px;
        text-shadow: 0 0 5px #999;

        color: #000;
        margin-bottom: 20px;
        position: relative;
        margin-top:10px;
    }
 
}

/* location part end  */

/* table section */
.table-container{
    padding: 0 ;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgb(114, 113, 113);
    border-radius: 18px;
    position: relative;
    margin-top: 40px;
    margin: 20px;
   

}
.table-container img {
    max-width: 100%;

    height:auto;
}
.heading5{
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
}
.heading5::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;

}
.table{
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgb(114, 113, 113);
    border-radius: 10px;
}
.table thead{
    background-color: green;
}
.table tfoot{
    background-color: green;
    
}
.table tfoot tr{
    
    font-size: 20px;
    text-align: center;
    
    
}

.table thead tr th{
    font-size: 20px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: #000000;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 2px solid #000000c5;
}
.table tbody tr td{
    
    font-size: 20px;
    letter-spacing: 0.34px;
    font-weight: normal;
    color: #000000;
    background-color: #efeeee;
    padding: 8px;
    text-align: center;
    border: 1px solid #03030385;
}


.table tbody tr td .btn{
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #3dc728;
    font-weight: medium;
    color: #ffff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid teal;
    font-size: 20px;
    opacity: 1;
}


@media (max-width: 900px){
    .table-container{
        margin: 20px;
        width: 95%;
        margin-top: 50px;
        margin-bottom: 40px;
    }
 
    .table thead {
        display: none;
       
    }
    .table, .table tbody,.table tr,.table td{
        display: block;
       
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table tbody tr td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td:before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 20px;
        text-align: left;
    }
}

 /* end of table section */

 /* fotter part  */

 
.footer {
    margin-top: 10vh;
    background-image: url(../Images/pexels-anikó-liptai-19478151.jpg);
    background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0),
        var(--primary-color) 4rem);
    
  }
  /* main container */
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
   
  } 
  /* for the first section */
  .footer__col:first-child {
    max-width: 800px;
  }
  .footer__col p {
    color: var(--text-light);
    margin-left: 5%;
  }
  .footer__col h1 {
    color: var(--text-light);
    font-size: 50px;
    margin-left: 15%;
  }
  
  .footer__col h4 {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-light);
  }
  .footer__col1{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.776);
    border-radius: 20px;

  }
  .footer__col1 h4 {

    margin: 1rem;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-light);
  }

  .footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;    
    margin-left: 30px;

  }
  
  .footer__links a {
    color: var(--text-light);
  }
  
  .footer__links a:hover {
    color: var(--secondary-color);
  }
  
  .footerBottom {
    border-top: 1px solid white;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;

  }
  /* adding a form for the newsletter */
  .footer__col1 form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  .footer__col1 form i{
    font-size: 30px;
    margin-right: 5%;
  }
 .footer__col1 .ri-mail-line{
  font-size: 40px;
 }

 /* for the placeholder */
 .footer__col1 form input{
    width: 100%;
    font-size: 25px;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;

 }
 .footer__col1 form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
 }
 .footer__col1 form button i{
    font-size: 30px;
    margin-right: 10px;
    color: var(--white);
 }
 .social-icons{
    margin: 1rem;

 }
 .social-icons i{
   font-size: 40px;
   margin-right: 10px;
   color: var(--white);
   transition: 0.5s;
   cursor: pointer;
 
 }

 .social-icons i:hover{
   color: red;
   font-size: 50px;
   text-decoration: underline;

}

@media (min-width: 768px)  {
  
    .footer__container {
      grid-template-columns: 2fr 1fr 1fr;
    }
    
  }
