@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
  --primary-color: #082e3e;
  --secondary-color: #e9c675;
  --text-light: #cbd5e1;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(../Images/pexels-anikó-liptai-19478151.jpg);
    object-fit: cover;
    background-size: cover;
}
.Logo{
    width: 200px;
    cursor: pointer;
    margin-left: 80px;
    background-size: contain;
}

.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.navbar{
    
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    /* background:linear-gradient(); */
    padding: 20px 0px;
    
    
}
nav{
    flex: 1;
    text-align: center;
}    



nav ol li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 25px;
    margin-right: 20px;

}


nav ol li a{ 
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropbtn {
    color: black;
    background-color: var(--white);
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;

    cursor: pointer;
}

.home{  
    color: black;
    background-color: var(--white);   
    border: none;
    cursor: pointer;
}
.home a{
    color: black;
    font-size: 23px;

}
.btnloging-popup {
    background-color: var(--white);   
    color: black;
    font-size: 23px;

}
.dropdown-list {
    display: none;
    background-color: #333;
    z-index: 1;
    box-shadow: rgb(226, 222, 222);
    position: absolute;
}
.dropdown-list a {
    color: #fff;
    display: block;
    padding: 13px 17px;
    text-decoration: none;

}
.dropdown:hover .dropdown-list {
    display: block;
}
@media screen and (max-width: 778px){
    .Logo{
        width: 100px;
        cursor: pointer;
        margin-left: 30px;
    }
    .navbar{
    
        height: 110px;
        background:transparent;

    }

    .checkbtn{
        display: block;
        position: fixed;  
        margin-left: 60%;
        font-size: 40px;
        top: 20px;
        color: #000;
        z-index: 10;
    }
    nav ol{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        background:linear-gradient(to left, #3e3e3e,#b9b9b9);

        text-align: center;
        transition: all .5s;
        z-index: 10;
    }
    nav ol li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ol li a{
        font-size: 20px;

    }
    a:hover,a.active{
        background: none;
        color: #15e242;
    }
    #check:checked ~ ol{
        left: 0;
        
    }


}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #19d619;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

    .mainDescription{
        display: flex;
        position: relative;
        height: 88%;
        align-items: center;
        margin-right: 10%;
            
    }
    
    .col{
        margin: 10%;
        background-color: white;
        opacity: 0.9;
        box-shadow: 0 0 20px rgb(2, 2, 2);
        padding: 5px;
        border-radius: 10px;
    
    }
    .col5{
        margin-right: 10%;
    }
    .col h1 {
        font-family: "Poppins", sans-serif;
        color: #0a0a0a;
        font-size: 50px;
        font-weight: 500;
        margin-left: 20px;
        
    }
    .col p {
        color: #0c0c0c;
        font-size: 20px;
        line-height: 25px;
        margin-left: 20px;
        
    }
    @media screen and (max-width: 778px) {
        .row{
            flex-direction: column;
            margin-right: 10%;
        }
        .col5{
            margin-right: 30%;
        }
      
    }
ol li {
    color: #000000;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    
}

.card{
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    margin-left: 20%;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;

}
.card p{
    color: rgb(0, 0, 0);
    text-shadow: 0 0 20px #ffffff;
    font-size: 23px;

}
.card1{
    background-image: url(../Images/deston.jpg);
}
.card2{
    background-image: url(../Images/about\ uss.jpg);
}
.card3{
    background-image: url(../Images/endamic\ 2.JPG);
}
.card4{
    background-image: url(../Images/leo2.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #ffffff;
    font-size: 40px;
    text-shadow: 0 0 5px #000000;
    text-align: center;
    
}
main{
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.514), rgba(202, 202, 202, 0.16)), url(../Images/pexels-anikó-liptai-19478151.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
   
}

 /* about srilankan animals part  */
 .endemic{
    
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.672);
    border-radius: 18px;
    position: relative;
    margin: 20px;
    
}
.container2{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 20px rgb(114, 113, 113);
    /* margin: 5px; */
    border-radius: 10px;
    background-color: #f7f7f7;
}
.list{
max-width: 600px;
margin: 49px auto;
padding: 20px;
background-color: #fff;
border-radius: 9px;
box-shadow: 0 0 10px #050505db;

}
.heading h1{
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 400;
    text-shadow: 0 0 5px #999;
    text-align: center;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    margin-top:2%;
}
.heading h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;

}


.column1 ul{
    font-size: 25px;
    display: block;
    list-style-type: disc;
    margin-block-end: 0em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding-inline-start: 40px;
  }

.column1 ul li{
margin-top: 20px;
}

.list li:hover{
box-shadow: 0 0 10px rgb(7, 7, 7);


}
.list a {
text-decoration: none;
color: #000000;
font-weight: bold;
}
.container2 h2{
font-size: 30px;
color: #000;
margin-top: 30px;
margin-bottom: 20px;
position: relative;
text-align: center;
}
.text-boxa{
    box-shadow: 0 0 10px #050505db;
    margin-top: 6.5%;
    padding-top: 10px;
    border-radius: 10px;
}

.column1 {
flex: 1;
padding: 10px;
}
.column1 p{

margin: 5%;
margin-bottom: 10px;
font-size: 25px;
}
.read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #085b29;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 14px;
    margin-left: 30px;
    margin-right: auto;
    transition: 0.3s ease;
    

}
.read-more:hover{
    background-color: #43e248;
}
/* photos part  */
.container-galary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.container-galary .heading-g{
  width: 50%;
  padding-bottom: 50px;
}
.container-galary .heading-g h3{
    font-size: 30px;
    font-weight: bolder;
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
}
.container-galary .heading-g h3 span{
    font-weight: 100;
}
.container-galary .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
   
}
.container-galary .box .dream{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 2%;
    
}
.container-galary .box .dream img{
    width: 80%;
    height: 260px;
    padding-bottom: 15px;
    padding-left: 10px;
  
}
@media screen and (max-width: 1100px) {
    .container-galary .box .dream{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 14%;
        
    }
    .container-galary .box .dream img{
        height: 280px;
        width: 90%;
        margin-left: -33px;
    }
}

@media screen and (max-width: 1100px) {
.container2{
flex-direction: column;
}

.container2 h2{
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color: #000;
margin-bottom: 20px;
position: relative;
text-align: center;
}
.heading h1{
font-family: var(--header-font);
font-size: 40px;
text-shadow: 0 0 5px #999;

color: #000;
margin-bottom: 20px;
position: relative;
margin-top:10px;
}
.list li{
    font-size: 25px;

}

}
 /* end of animal part  */

/* national park section */
.parks{
    
    align-items: center;
    background-color: #eae8e8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.672);
    border-radius: 18px;
    position: relative;
    margin: 20px;
    
}
.container3{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 20px rgb(114, 113, 113);
    margin: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
}
.list1{
max-width: 600px;
margin: 49px auto;
padding: 20px;
background-color: #fff;
border-radius: 9px;
box-shadow: 0 0 10px #050505db;

}
.heading1 h1{
    font-family: var(--header-font);
    font-size: 60px;
    text-shadow: 0 0 5px #999;
    text-align: center;
    color: #000;
    margin-bottom: 25px;
    position: relative;
    margin-top:2%;
}
.heading1 h1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #4caf50;

}


.list1 ul{
    display: block;
    list-style-type: decimal;
    margin-block-end: 0em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    padding-inline-start: 40px;
}

.list1 li {
font-size: 25px;
margin: 15px 0;
padding: 15px;
background-color: #f1f1f1;
border-radius: 4px;
cursor: pointer;
transition: 1s;

}
.list1 li:hover{
box-shadow: 0 0 10px rgb(7, 7, 7);
}
.list1 a {
text-decoration: none;
color: #000000;
}
.container3 h2{
font-size: 30px;
color: #000;
margin-top: 30px;
margin-bottom: 20px;
position: relative;
text-align: center;
}
.text-boxb{
    box-shadow: 0 0 10px #050505db;
    margin-top: 6.5%;
    padding-top: 10px;
    border-radius: 10px;
}

.column2 {
flex: 1;
padding: 10px;
}
.column2 p{

margin: 5%;
margin-bottom: 10px;
font-size: 25px;
}
.read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #085b29;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 14px;
    margin-left: 30px;
    margin-right: auto;
    transition: 0.3s ease;
    

}
.read-more:hover{
    background-color: #43e248;
}
/* photos part  */
.container-galary1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 40px 20px 0 20px; */
}
.container-galary1 .heading-g{
  width: 50%;
  padding-bottom: 50px;
}
.container-galary1 .heading-g h3{
    font-size: 30px;
    font-weight: bolder;
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
}
.container-galary1 .heading-g h3 span{
    font-weight: 100;
}
.container-galary1 .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
   
}
.container-galary1 .box .dream{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 2%;
    
}
.container-galary1 .box .dream img{
    width: 80%;
    height: 280px;
    padding-bottom: 15px;
    padding-left: 10px;
  
}
@media screen and (max-width: 1100px) {
    .container-galary1 .box .dream{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 14%;
        
    }
    .container-galary1 .box .dream img{
        height: 280px;
        width: 90%;
        margin-left: -33px;
    }
}

@media screen and (max-width: 1100px) {
.container3{
flex-direction: column;
}

.container3 h2{
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color: #000;
margin-bottom: 20px;
position: relative;
text-align: center;
}
.heading1 h1{
font-family: var(--header-font);
font-size: 45px;
text-shadow: 0 0 5px #999;

color: #000;
margin-bottom: 20px;
position: relative;
margin-top:10px;
}

}
/* end of park section */

/* lover section  */
.container4{
    display: flex;
    justify-content: center;
    background: #ededed;
}
.container4 .row4{
    display: flex;
    box-shadow: 0 0 10px rgb(5, 5, 5);
    border-radius: 10px;
    margin: 10px;

}

.col1{
    flex-basis: 55%;
}
.col1 .text-box{
    margin-right: 40px;
    margin-left: 30px;
    margin-top: 5%;
    margin-bottom: 5%
    
}
.text-box h2{
    font-size: 30px;
    margin-bottom: 30px;
}         
.text-box p{
    font-size: 25px;
}

@media screen and (max-width: 1100px) {
    .container4{
        flex-direction: column;
    }

    .text-box h2{
        margin-left: 10%;
        font-size: 30px;
        margin-bottom: 30px;
    }         
    
    .container4 .row4 {
       flex-direction: column;
        box-shadow: 0 0 10px rgb(5, 5, 5);
        border-radius: 10px;
        margin: 10px;
    
    }
}
/* lover photos part  */
.container-galary3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 40px 20px 0 20px; */
}

.container-galary3 .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
   
}
.container-galary3 .box .dream{
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 2%;
    
}
.container-galary3 .box .dream img{
    width: 100%;
    height: 300px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin-top: 18%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgb(5, 5, 5);


  
}
@media screen and (max-width: 1100px) {
    .container-galary3 .box .dream{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin-left: 14%; */
        
    }
    .container-galary3 .box .dream img{
        height: 280px;
        width: 90%;
        border-radius: 30px;
        margin-left: 20px;
       
    }
}
/* end of lover section */

 /* fotter part  */

 
 .footer {
    margin-top: 10vh;
    background-image: url(../Images/pexels-anikó-liptai-19478151.jpg);
    background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0),
        var(--primary-color) 4rem);
    
  }
  /* main container */
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
   
  } 
  /* for the first section */
  .footer__col:first-child {
    max-width: 800px;
  }
  .footer__col p {
    color: var(--text-light);
    margin-left: 5%;
  }
  .footer__col h1 {
    color: var(--text-light);
    font-size: 50px;
    margin-left: 15%;
  }
  
  .footer__col h4 {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-light);
  }
  .footer__col1{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.776);
    border-radius: 20px;

  }
  .footer__col1 h4 {

    margin: 1rem;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-light);
  }

  .footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;    
    margin-left: 30px;

  }
  
  .footer__links a {
    color: var(--text-light);
  }
  
  .footer__links a:hover {
    color: var(--secondary-color);
  }
  
  .footerBottom {
    border-top: 1px solid white;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;

  }
  /* adding a form for the newsletter */
  .footer__col1 form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  .footer__col1 form i{
    font-size: 30px;
    margin-right: 5%;
  }
 .footer__col1 .ri-mail-line{
  font-size: 40px;
 }

 /* for the placeholder */
 .footer__col1 form input{
    width: 100%;
    font-size: 25px;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;

 }
 .footer__col1 form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
 }
 .footer__col1 form button i{
    font-size: 30px;
    margin-right: 10px;
    color: var(--white);
 }
 .social-icons{
    margin: 1rem;

 }
 .social-icons i{
   font-size: 40px;
   margin-right: 10px;
   color: var(--white);
   transition: 0.5s;
   cursor: pointer;
 
 }

 .social-icons i:hover{
   color: red;
   font-size: 50px;
   text-decoration: underline;

}

@media (min-width: 768px)  {
  
    .footer__container {
      grid-template-columns: 2fr 1fr 1fr;
    }
    
  }


