@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
  --primary-color: #082e3e;
  --secondary-color: #e9c675;
  --text-light: #cbd5e1;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Playfair Display", serif;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../Images/pexels-anikó-liptai-19478151.jpg);
    object-fit: cover;
    background-size: cover;    
    position: sticky;
}
.Logo{
    width: 100px;
    cursor: pointer;
    margin-left: 80px;
    
    background-size: contain;
}

.checkbtn{
    font-size: 30px;
    color: rgb(255, 255, 255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.navbar{
    
    width: 100%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    /* background:linear-gradient(); */
    padding: 20px 0px;
    
    
}
nav{
    flex: 1;
    text-align: center;
}


nav ol li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 25px;
    margin-right: 20px;
  

}
nav ol li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropbtn {
    color: #000000;
    background-color: rgb(250, 250, 250);
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.home{
    
    
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.home a{
    color: #000000;
}
.dropdown-list {
    display: none;
    background-color: #333;
    z-index: 1;
    box-shadow: rgb(226, 222, 222);
    position: absolute;
}
.dropdown-list a {
    color: #fff;
    display: block;
    padding: 13px 17px;
    text-decoration: none;

}
.dropdown:hover .dropdown-list {
    display: block;
}
@media screen and (max-width: 778px){
    .Logo{
        width: 100px;
        cursor: pointer;
        margin-left: 30px;
    }
    .navbar{
    
        height: 110px;
        background:linear-gradient(to left, #3e3e3e,#b9b9b9);

    }

    .checkbtn{
        display: block;
        position: fixed;  
        margin-left: 55%;
        font-size: 40px;
        top: 20px;
        color: #000;
        z-index: 10;
    }
    nav ol{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        background:linear-gradient(to left, #3e3e3e,#b9b9b9);

        text-align: center;
        transition: all .5s;
        z-index: 10;
    }
    nav ol li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ol li a{
        font-size: 20px;

    }
    a:hover,a.active{
        background: none;
        color: #15e242;
    }
    #check:checked ~ ol{
        left: 0;
        
    }


}
/* text animation */
.word{
    width: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 4%;
    left: 50%;
    text-align: center;
}
.word span{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    font-weight: 700;
    color: #fffdfd;
    letter-spacing: 5vw;
    text-shadow: 0 15px 25px rgb(0, 0, 0.3);
    position: relative;
    transform: translateY(-100vh);
    animation: fall 1.5s forwards;
}
@keyframes fall {
    100%{
        transform: translateY(0);
    }
    
}
.word span:nth-child(2){
    animation-delay: 0.7s;
}

.word span:nth-child(3){
    animation-delay: 1.4s;

}
.word span:nth-child(4){
    animation-delay: 2.1s;
}

/* text animation end */
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #19d619;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

    
.text-box1{

    width: 90%;
    color: #fff;
    position: absolute;
    top:8%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;



}
.text-box1 h1{
    font-size: 60px;
}
.text-box1 p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.btn{
    top: 50px;
    display: inline-block;
    text-decoration:none ;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid rgb(53, 230, 53);
    background: rgb(53, 230, 53);
    transition: 1s ease;
}
@media(max-width: 1000px){
    .text-box1 h1{
        font-size: 50px;
    }
    .text-box1{
        top: 7%;
    }


}
    

main{
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(96, 96, 96), rgba(185, 185, 185, 0.23)), url(../Images/yala\ land.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
   
}
/* }     end of header section */

 




       /* about yala */
       .About-wilpattu{
    
        align-items: center;
        background-color: #ffffff;
        box-shadow: 0 0 20px rgb(114, 113, 113);
        border-radius: 18px;
        position: relative;
        margin: 20px;
        
    }
    .container1{
        display: flex;
        justify-content: space-around;
    }
                    /* main heading */
                    .heading{ 
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        text-align: center;
                        margin: 20px auto;
                        box-shadow: 0 0 20px rgb(0, 0, 0);
                        border-radius: 20px;
                    }
                    .heading h1{
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 60px;
                        text-shadow: 0 0 5px #999;
    
                        color: #000;
                        margin-bottom: 25px;
                        position: relative;
                        
                    }
                    .heading h1::after{
                        content:"";
                        position: absolute;
                        width: 100%;
                        height: 4px;
                        display: block;
                        margin: 0 auto;
                        background-color: #137b16;
                    
                    }
    
               
    
    .column {
        flex: 1;
        padding: 10px;
        box-shadow: 0 0 20px rgb(73, 73, 73);
        margin: 10px;
        border-radius: 20px;

    }
    .column p{
       
        margin: 5%;
        margin-bottom: 10px;
        font-size: 25px;
        box-shadow: 0 0 10px rgb(7, 7, 7);
        padding: 10px;

    }
    .container1 h2{
        font-size: 30px;
        color: #000;
        margin-bottom: 25px;
        position: relative;
        margin-top: 20px;
        text-align: center;
        box-shadow: 0 0 20px rgb(0, 0, 0);
        width: 80%;
        margin-left: 10%;
        border-radius: 10px;

     }
     .About-wilpattu .map{
        box-shadow: 0 0 20px rgb(0, 0, 0);
        margin: 10px;
        border-radius: 20px;

     }

     .About-wilpattu .map iframe {
        width: 80%;
        height: 500px;
        margin-left: 80px;
        border: 1px solid #ddd;
        border-radius: 30px;
        margin-top: 15%;
        margin-bottom: 15%;
        box-shadow: 0 0 20px rgb(152, 152, 152);

    }
    @media screen and (max-width: 1100px) {
        .container1{
            flex-direction: column;
        }
        .About-wilpattu .map iframe {
            align-items: center;
            height: 320px;
            width: 98%;
            margin: 3px;
            margin-bottom: -16px;
            
        }
        .About-wilpattu .map{
            margin: -5px;
        }

        .container1 h2{
            font-size: 30px;
            color: #000;
            margin-bottom: 20px;
            position: relative;
            text-align: center;
         }
         .heading h1{
            font-size: 45px;
            text-shadow: 0 0 5px #999;
    
            color: #000;
            margin-bottom: 20px;
            position: relative;
            margin-top:10px;
        }
     
    }
    
       /* end of about yala */

/* abou animals part  */

.endemic{
    
            align-items: center;
            background-color: #ffffff;
            box-shadow: 0 0 20px rgb(114, 113, 113);
            border-radius: 18px;
            position: relative;
            margin: 20px;
            
        }
        .container2{
            display: flex;
            justify-content: space-around;
        }
.list{
    max-width: 600px;
    height: 600px;
    margin: 49px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 0 10px rgb(5, 5, 5);

}
.list h2 {
    color: #333;
    text-align: center;
}
.list ol {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
    
}
.list li {
    margin: 15px 0;
    padding: 30px;
    font-size: 30px;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
    
}
.list li:hover{
    box-shadow: 0 0 10px rgb(7, 7, 7);


}
.list a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.container2 h2{
    font-size: 30px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;


 }
 .column1 {
    flex: 1;
    padding: 10px;
}
.column1 p{
   
    margin: 5%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    box-shadow: 0 0 10px rgb(7, 7, 7);

}
.endemic .vdeo iframe {
    width: 80%;
    height: 500px;
    margin-left: 80px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(7, 7, 7);

}
@media screen and (max-width: 1100px) {
    .container2{
        flex-direction: column;
    }
    
    .list li {
        margin: 15px 0;
        padding: 30px;
        font-size: 23px;
        background-color: #f1f1f1;
        border-radius: 4px;
        cursor: pointer;
        transition: 1s;
        
    }
    .endemic .vdeo iframe {
        align-items: center;
        height: 320px;
        width: 98%;
        margin-bottom: 15px;
        margin: 10px;
        
    }
    .container2 h2{
        font-size: 30px;
        color: #000;
        margin-bottom: 20px;
        position: relative;
        text-align: center;
     }
     .heading h1{
        font-size: 45px;
        text-shadow: 0 0 5px #999;

        color: #000;
        margin-bottom: 20px;
        position: relative;
        margin-top:10px;
    }
 
}

/* end of animals part  */
        
/*activities part */

.Activities{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    margin: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card1{
    background: url(../Images/yala\ saf1.jpg);
  
}
.card2{
    background: url(../Images/yalaacc1.jpg);
}
.card3{
    background: url(../Images/yala\ cam1.jpg);
}

.card .face {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 10px;
   overflow: hidden;
   transition: 1.5s;
   cursor: pointer;
}
.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgb(0, 0, 0);

}
.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}
.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px rgb(48, 48, 48);
}
.card .back .link {
    border-top: solid 1px rgb(249, 249, 249);
}
.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p {
    letter-spacing: 1px;
}
.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotate(360deg);
}

/* end of actvities part */
 /* polution starting */

 .polution{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    margin: 10px;
    border-radius: 10px;
}
.polution .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 18px;
    background: #e8e8e8;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    border-radius: 15px;

}
.row img{
    max-width: 100%;
    height: auto;
    margin: 9px;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.polution .row1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 18px;
    background: #e8e8e8;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    border-radius: 15px;

}

.polution .row1{
    
}
.polution .row1 p{
    text-align: center;
    justify-content: center;
}
.list1{
    max-width: 600px;
    margin: 49px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.list1 h2 {
    color: #333;
    text-align: center;
}
.list1 ol {
    list-style-type: none;
    padding: 0;
    margin-bottom: 30px;
    
}
.list1 li {
    margin: 15px 0;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s;
    font-size: 25px;
    
}
.list1 li:hover{
    box-shadow: 0 0 10px rgb(7, 7, 7);


}


@media screen and (max-width: 1100px) {
    .polution .row1{
        flex-direction: column;
    }
}




.read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: auto;
    margin-bottom: 14px;
    margin-left: 10%;
    margin-right: auto;
    transition: 0.3s ease;
    

}
.read-more:hover{
    background-color: #3e8e41;


}
/* fotter part  */

 
.footer {
    margin-top: 10vh;
    background-image: url(../Images/pexels-anikó-liptai-19478151.jpg);
    background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0),
        var(--primary-color) 4rem);
    
  }
  /* main container */
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
   
  } 
  /* for the first section */
  .footer__col:first-child {
    max-width: 800px;
  }
  .footer__col p {
    color: var(--text-light);
    margin-left: 5%;
  }
  .footer__col h1 {
    color: var(--text-light);
    font-size: 50px;
    margin-left: 15%;
  }
  
  .footer__col h4 {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;
    color: var(--text-light);
  }
  .footer__col1{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.776);
    border-radius: 20px;

  }
  .footer__col1 h4 {

    margin: 1rem;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-light);
  }

  .footer__links {
    list-style: none;
    display: grid;
    gap: 1rem;    
    margin-left: 30px;

  }
  
  .footer__links a {
    color: var(--text-light);
  }
  
  .footer__links a:hover {
    color: var(--secondary-color);
  }
  
  .footerBottom {
    border-top: 1px solid white;
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;

  }
  /* adding a form for the newsletter */
  .footer__col1 form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  .footer__col1 form i{
    font-size: 30px;
    margin-right: 5%;
  }
 .footer__col1 .ri-mail-line{
  font-size: 40px;
 }

 /* for the placeholder */
 .footer__col1 form input{
    width: 100%;
    font-size: 25px;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;

 }
 .footer__col1 form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
 }
 .footer__col1 form button i{
    font-size: 30px;
    margin-right: 10px;
    color: var(--white);
 }
 .social-icons{
    margin: 1rem;

 }
 .social-icons i{
   font-size: 40px;
   margin-right: 10px;
   color: var(--white);
   transition: 0.5s;
   cursor: pointer;
 
 }

 .social-icons i:hover{
   color: red;
   font-size: 50px;
   text-decoration: underline;

}

@media (min-width: 768px)  {
  
    .footer__container {
      grid-template-columns: 2fr 1fr 1fr;
    }
    
  }